@font-face {
    font-family: light;
    src: url(Panton-LightCaps.otf);
}
@font-face {
    font-family: black;
    src: url(Panton-BlackCaps.otf);
}



body{
	padding: 0;
	margin: 0;
	/*background-image: url("bg.jpg");*/
	background-size: cover;
}


h1 {
  text-align: center;
  margin-top: 50px;
  font-family: black;
  font-size: 30px;
  color: white;
}

hr{
	border: none;
	background: white;
	width: 90%;
	height: 3px;
}

p {
  text-align: center;
  margin-bottom: 30px;
  font-family: Verdana;
  padding: 0 15px;
  margin-bottom: 0;
  color: white;
}

h2{
  text-align:center; 
  line-height:40px;
  font-weight:normal;
  text-transform: uppercase;
  font-family: black;
  font-size: 25px;
  color: white;

}

.nwm{
  font-family: black;
  font-size: 20px;
}

ul{
  list-style: none;
  
}
li{
  color: white;
  display: inline-block;
  width: 25%;
  font-family: light;
  min-width: 250px;
  font-size: 20px;
}

li a{
  text-decoration: none;
  color: white;
}



.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.omne{
	-webkit-column-count: 1;
  -moz-column-count:1;
  column-count: 1;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

a{
	text-decoration: none;
	color: white;
	transition: .2s;
}

a:hover{
	background: white;
	color: #272727;
}

.item {
    display: inline-block;
    background: rgba(0,0,0,0.6);
    border: 3px solid white;
    border-radius: 15px;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*box-shadow: 2px 2px 4px 0 #ccc;*/
    border-radius: 15px;
}
.item img{
	max-width:100%;
	border-radius: 15px;
	margin-top: 15px;
	border: 2px solid white;
}

@media only screen and (max-width: 480px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 481px)/* and (max-width: 768px)*/{
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (max-width: 480px) {
    ul{
    	text-align: left;
    	margin-left: 0;
    	padding-left: 0;
    	width: 100%;

    }
}



/*
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
*/

.background-image {
  position: fixed;
  left: -20px;
  top: -20px;
  right: 0;
  z-index: -99;

  display: block;
  background-image: url('bg.jpg');
  width: calc(100% + 40px);
  height: calc(100% + 40px);

  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100% + 40px);
    overflow: hidden;



  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}