@font-face {
    font-family: light;
    src: url(Panton-LightCaps.otf);
}
@font-face {
    font-family: black;
    src: url(Panton-BlackCaps.otf);
}

body{
  padding: 0;
  margin: 0;
  /*background-image: url("bg.jpg");*/
  background-size: cover;
}


h1 {
  text-align: center;
  margin-top: 50px;
  font-family: black;
  font-size: 30px;
  color: white;
}

hr{
  border: none;
  background: white;
  width: 90%;
  height: 3px;
}

p {
  text-align: center;
  margin-bottom: 30px;
  font-family: Verdana;
  padding: 0 15px;
  margin-bottom: 0;
  color: white;
  font-size: 0.85em;
}

h3{
  text-align:center; 
  line-height:40px;
  font-weight:normal;
  text-transform: uppercase;
  font-family: black;
  font-size: 25px;
  color: white;

}


.nwm{
  font-family: black;
  font-size: 20px;
}

ul{
  list-style: none;
  
}
li{
  color: white;
  display: inline-block;
  width: 25%;
  font-family: light;
  min-width: 250px;
  font-size: 20px;
}

li a{
  text-decoration: none;
  color: white;
}

.container{
  border-radius: 15px;
  border: 3px solid white;
  margin: 15px;
  background: rgba(0,0,0,0.5);
  display: inline-block;
    background: rgba(0,0,0,0.6);
    border: 3px solid white;
    border-radius: 15px;
    /*padding: 1em;*/
    margin: 0 0 1.5em;
    width: 100%;
  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}






.background-image {
  position: fixed;
  left: -20px;
  top: -20px;
  right: 0;
  z-index: -99;

  display: block;
  background-image: url('bg.jpg');
  width: calc(100% + 40px);
  height: calc(100% + 40px);

  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100% + 40px);
    overflow: hidden;



  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}