@font-face {
    font-family: light;
    src: url(Panton-LightCaps.otf);
}
@font-face {
    font-family: black;
    src: url(Panton-BlackCaps.otf);
}

html { 
  padding: 0;
  margin: 0;
  background: url(https://wallpapercave.com/wp/r63SgBG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


a{
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: .5s;
}

a:hover{
  background-color: rgba(0,0,0,0.2);
}

.banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-family: Verdana;
}

h1{
  color: #f9f9f9;
  font-size: 85px;
  letter-spacing: 5px;
  animation: from_right 1.5s;
  margin: 0;
  padding: 0;
}

h2{
  color: #f9f9f9;
  background: rgba(0,0,0,0.2);
  font-size: 18px;
  animation: from_bottom 2.5s;
  padding: 5px;
  margin: 0;
  margin-top: 30px;
}

@keyframes from_right{
  0%{
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes from_bottom{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

table{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 10px;
  text-align: center;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
  font-size: 20px;
  font-family: Verdana;
  background-color: rgba(0,0,0,0.2);
}

h3{
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Verdana;
  animation: from_right 1s;
}

td{
  width: 200px;
  padding: 15px;
  text-align: left;
}