body{
	background: #272727;

}

html {
	scroll-behavior: smooth;
}

h1{
	color: #f5f5f5;
	text-align: center;

}

.articles{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	max-width: 800px;
	min-width: 400px;
}

.article{
	flex: 1;
	background: rgba(255,255,255,0.1);
	margin: 7px;
	padding: 0 15px 15px 15px;
	border-radius: 5px;
}

.article h2{
	font-family: Verdana;
	color: #f5f5f5;
	text-align: center;
}

.article .galerie{
	display: flex;
	justify-content: center;
}

.article img{
	width: 100%;
	margin: 5px;
	max-width: 400px;
}

p{
	color: #f8f8f8;
	font-size: 16px;
	font-family: monospace;
	line-height: 22px;
}

.article p a{
	color: #f5f5f5;
	background: rgba(255,255,255,0.25);
	padding: 0px 2px;
	text-decoration: none;	
	transition: .1s;
	border-radius: 3px;
	padding: 2px;

}

.article p a:hover{
	color: #f8f8f8;
	background: #272727;
}

.articles .article ul li{
	text-decoration: none;
	color: #f5f5f5;
	list-style: none;
}

.articles .article ul li:before{
	content: '- ';
	color: #f5f5f5;
}

.articles .article ul li a{
	text-decoration: none;
	color: #f5f5f5;
}

.articles .article ul li a:hover{
	background: #f5f5f5;
	color: #272727;
}

.articles .article strong{
	font-weight: 1;
}


.navbar ul li{
	list-style: none;
	padding: 1px;
	margin: 10px;
}


.navbar ul li a{
	text-decoration: none;
	color: #f5f5f5;
	padding: 5px;
	transition: .1s;
}

.navbar ul li:hover a{
	background: #f5f5f5;
	color: #272727;
}

.navbar ul li:before{
	content: '> ';
	color: #f5f5f5;
}



